<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<p th:text="${client.getName()} + ' ' + ${client.getSurname()}">client</p>
<p th:text="${client.getSex}"client</p>
<p th:text="${client.getAge} + ' years old'">client</p>
<div th:if="${#httpSession.getAttribute('USER_ROLE') == 'client'} and ${client.getId} == ${#httpSession.getAttribute('USER_ID')}">
    <p th:text="'Money: ' + ${client.getMoney()} + ' BYN'">client</p>
    <a th:href="@{/getcoffee}">Get coffee</a>
    <a th:href="@{/myorders}">My orders</a>
    <a th:href="@{/clients}">Our clients</a>
    <a th:href="@{/myorders/complete}">Complete orders</a>
    <a th:href="@{/myorders/taken}">Taken orders</a>
    <a th:href="@{/getmoney}">Make a deposit</a>
    <a th:href="@{/edit}">Account settings</a>
    <a th:href="@{/logout}">Log Out</a>
    <form th:method="DELETE" th:action="@{/delete}">
        <input type="submit" value="Delete account">
    </form>
</div>
</body>
</html>