<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
  <form th:method="PATCH">
      <input type="text" name="name" id="name" th:value="${client.getName()}">
      <input type="text" name="surname" id="surname" th:value="${client.getSurname()}">
      <input type="text" name="age" id="age" th:value="${client.getAge()}">
      <select name="sex" id="sex" th:value="${client.getSex()}">
          <option th:selected="${client.getSex()}" th:value="${client.getSex}" th:text="${client.getSex}"></option>
            <option th:each="userSex : ${T(com.example.coffeehouse.models.constkits.UserSex).values()}" th:unless="${userSex.getSex} == ${client.getSex}" th:value="${userSex.getSex()}" th:text="${userSex.getSex()}"></option>
      </select>
    <input type="submit" value="Save changes">
  </form>
<a href="/edit/log">Security and Log In Settings</a>
</body>
</html>