<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client</title>
</head>
<body>
<h4>Employee`s card</h4>
<p th:text="${employee.getName()} + ' ' + ${employee.getSurname()}">employee</p>
<p th:text="${employee.getAge} + ' years old'">employee</p>
<p th:text="'Rank: ' + ${employee.getRank.getKind}">employee</p>
<div th:if="${#httpSession.getAttribute('USER_ROLE') == 'employee'}">
  <a th:if="${employee.getId()} == ${#httpSession.getAttribute('USER_ID')}" href="/myorders">My orders</a>
  <a th:if="${employee.getId()} == ${#httpSession.getAttribute('USER_ID')}" href="/orders">All orders</a>
</div>
<div th:if="${#httpSession.getAttribute('USER_ROLE') == 'employee'}">
  <a th:unless="${employee.getId()} == ${#httpSession.getAttribute('USER_ID')}" th:href="@{'/employees/' + ${employee.getId()} + '/orders'}" th:text="${employee.getName()} + ' orders'"></a>
</div>
<div th:if="${#httpSession.getAttribute('USER_ROLE') == 'client'}">
  <a th:href="@{'/employee/' + ${employee.getId()} + '/orders'}" th:text="${employee.getName()} + ' orders'"></a>
</div>
</body>
</html>