<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee getting</title>
</head>
<body>
    <form method="post" th:object="${orderdto}">
        <select name="Select coffee" th:field="*{name}">
            <div th:each="coffee : ${coffeelist}">
            <option th:value="${coffee.getName}" th:text="${coffee.getName}">coffee</option>
            </div>
        </select>
        <select name="Select arabica" th:field="*{arabica}">
            <div th:each="arabica : ${arabicalist}">
                <option th:value="${arabica}" th:text="${arabica}">arabica</option>
            </div>
        </select>
        <select name="Select a cup" th:field="*{cupSize}">
            <div th:each="cupsize : ${cupsizes}">
                <option th:value="${cupsize.getSize()}" th:text="${cupsize.getSize()}">cupkind</option>
            </div>
        </select>
        <select name="Select a cup" th:field="*{employeesId}">
            <div th:each="employee : ${employees}">
                <option th:value="${employee.getId()}" th:text="${employee.getName()} + ' ' + ${employee.getSurname()}">employee</option>
            </div>
        </select>
        <input type="submit" value="Get">
    </form>
</body>
</html>