<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
  <form method="post">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>
  <p style="color: red" th:if="${#httpSession} != null and ${#httpSession.getAttribute('AUTHORIZATION_RESULT_CLIENT')} == ${T(com.example.coffeehouse.models.constkits.AuthResult).INVALID}">Invalid email or password</p>
  <a href="/reg">Create account</a><br/>
<br/>
<a href="/emplauth">Log In like employee</a>
</body>
</html>