<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Only for employees</title>
</head>
<body>
<form method="post">
  <h1>ONLY FOR EMPLOYEES</h1>
  <p style="color: red" th:if="${#httpSession.getAttribute('AUTHORIZATION_RESULT')} != null && ${#httpSession.getAttribute('AUTHORIZATION_RESULT')} == 'INVALID'">Invalid email or password</p>
  <input type="text" name="login" id="login" placeholder="Login">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>
</body>
</html>