<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <h1>Order for employee:</h1>
    <h1><a th:href="@{'/employees/' + ${order.getEmployeesId()}}" th:text="${employee.getName()} + ' ' + ${employee.getSurname()}"></a></h1>
    <p>---------------------------------------------------------------------</p>
    <h1>By client:</h1>
    <h1><a th:href="@{'/clients/' + ${order.getClientId()}}" th:text="${client.getName()} + ' ' + ${client.getSurname()}"></a></h1>
    <p>---------------------------------------------------------------------</p>
    <h1 th:text="'Coffee: ' + ${order.getName()}"></h1>
    <h1 th:text="'Arabica: ' + ${order.getArabica()}">arabica</h1>
    <h1 th:text="'Cup size: ' + ${order.getCupSize()}">cup</h1>
    <h1 th:text="'Total price: ' + ${order.getTotalPrice()}">price</h1>
    <h1 th:if="${#httpSession.getAttribute('USER_ROLE')} == 'client'" th:text="'Status: ' + ${order.getStatus()}">status</h1>
    <a th:if="${#httpSession.getAttribute('USER_ROLE')} == 'employee' and ${order.getStatus().equals('not started')}" th:href="@{'/orders/' + ${order.getId()} + '/take'}">Take Order</a>
    <a th:if="${#httpSession.getAttribute('USER_ROLE')} == 'employee' and ${order.getStatus().equals('in process')}" th:href="@{'/orders/' + ${order.getId()} + '/complete'}">Complete Order</a>
    <p th:if="${#httpSession.getAttribute('USER_ROLE')} == 'employee' and ${order.getStatus().equals('complete')}">Complete</p>
</body>
</html>